ul li {
    list-style-type: none;
}

.article {
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, .93);
    font-weight: bold;
}

.openArticle {
    margin: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, .93);
    font-weight: 600;
}