#quizContainer {
    margin: 25px;
    padding: 25px;
}

.valide {
    background-color: rgb(44, 236, 92);
}

.erreur {
    background-color: rgb(219, 62, 62);
}

.choixquiz {
    border-radius: 5px;
    background-color: rgb(63, 141, 204);
    margin: 5px;
    border: solid 1px rgb(59, 129, 185);
    color: white;
}

#suivantquiz {
    border-radius: 5px;
    background-color: rgb(38, 94, 139);
    margin: 5px;
    border: solid 1px rgb(59, 129, 185);
    color: white;
}