#header {
    background-color: #274EA8 !important;
    color: white !important;
}

#header a {
    
    color: white !important;
}

#header span {
    color: white;
    background-color: white;
}

#logoheader {
    width: 160px;
}

.nav-link {
    color: white !important;
}

#header button {
    background-color: white;
}

#ConnectionModal {
    /* position: absolute;
    z-index: 100;
    left: 40%; */
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
}

#btnConnexion {
    cursor: pointer;
}

#btnDeco {
    margin-top: 5px;
}

#btnDeconnexion {
    background-color: #82A4F5 !important;
    max-width: 99px;
    border-radius: 7px;
    padding: 3px;
    cursor: pointer !important;
}